
/* System */
$app-name: 'perse';

/* Fonts */
$font-default: 'PT Sans';

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/pt-sans-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/pt-sans-v12-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('../fonts/pt-sans-v12-latin-italic.woff2') format('woff2'),
    url('../fonts/pt-sans-v12-latin-italic.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/pt-sans-v12-latin-700.woff2') format('woff2'),
    url('../fonts/pt-sans-v12-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''),
    url('../fonts/pt-sans-v12-latin-700italic.woff2') format('woff2'),
    url('../fonts/pt-sans-v12-latin-700italic.woff') format('woff');
}


/* Sizing */
$width-xl: 90rem; // 1440px
$width-lg: 75rem; // 1200px
$width-md: 62rem; // 992px
$width-sm: 48rem; // 768px
$width-xs: 30rem; // 480px
@mixin until($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
@mixin from($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}


/* Colors */
$color-brand-hex: #EB0C6A;
$color-primary-hex: #5E35B1;
$color-complementary-hex: #9F0CEB;
$color-secondary-hex: #b39ddb;
$color-info-hex: #0D0CEB;
$color-success-hex: #E80CEB;
$color-dark-hex: #212529;

$color-brand-rbga: rgba(235,12,106, 1);
$color-primary-rgba: rgba(94,53,177, 1);
$color-complementary-rgba: rgba(159,12,235, 1);
$color-secondary-rbga: rgba(179, 157, 219, 1);
$color-info-rgba: rgba(13,12,235, 1);
$color-success-rgba: rgba(232,12,235, 1);
$color-dark-rgba: rgba(33, 37, 41, 1);


/* Borders */
$border-width-default: 0.3125rem;
$border-radius-default: 0.5rem;
$border-radius-large: 1.0rem;
$border-radius-small: 0.1875rem;
$border-color-default: $color-dark-hex;
$border-color-light: $color-secondary-hex;

@mixin border-gradient($width, $radius) {
  position: relative;
  background: #fff;
  background-clip: padding-box; /* !important */
  border: solid $width transparent; /* !important */
  border-radius: $radius;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$width; /* !important */
    background: linear-gradient(to bottom, $color-brand-hex, $color-primary-hex);
    border-radius: inherit; /* !important */
  }
}


/* Backgrounds */
@mixin background-gradient() {
  background: $color-brand-hex;
  background: linear-gradient(180deg, $color-complementary-rgba 7%, $color-primary-rgba 100%);
}


/* Buttons & Forms */
button,
input[type=button] {
  @include background-gradient();

  padding: 0.5rem 1.25rem 0.6rem 1.25rem;
  border: 0;
  border-radius: $border-radius-small;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

button,
input[type=button],
input[type=checkbox],
input[type=checkbox] + label,
select {
  cursor: pointer;
}


/* Defaults */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $font-default, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: $color-dark-hex;
}

body {
  display: flex;
  align-items: flex-start;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-dark-hex;
}

a, a:visited {
  color: $color-primary-hex;
  text-decoration: none;
  transition: color 2s;
}

a:active,
a:hover,
a:focus {
  color: $color-complementary-hex;
  text-decoration: underline;
}

body > main {
  display: flex;
  flex-direction: column;
  width: 50rem;
  margin: 1rem auto;

  nav#navbar {
    display: flex;
    place-content: center;
    margin-bottom: 1rem;
  
    > a#brand-link {
      font-size: 2rem;
      font-weight: 600;
      color: $color-brand-hex;
      text-decoration: none;
    }
  }
}


/* Components */
.#{$app-name}-block {
  padding: 1.5rem 1rem 1rem 1rem;

  header > h1:first-of-type {
    margin-top: 0;
  }

  @include border-gradient($border-width-default, $border-radius-default);
}
